<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        html {
             zoom: 0.55;
        }
        body,
      html {
        font-family: arial, sans-serif;
        color: rgb(46, 46, 46);
      }

      .header {
            padding: 60px;
            text-align: center;
            font-size: 15px;
            }
        </style>
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
         <script type="text/javascript">
            const arrTraces = [];
           // const arrMkplaces_names = [];
        </script>
    </head>
    <body>
        <div class="header">
            <img src="img/logo.jpeg" style="float:left">
           
            <div style="float:right; ">
               <p style="text-align:left"> Rex Warehouse,<br/>
                14-24 STREET, Warehouse No. S-9,<br/>
                Al Quoz Industrial AreA-4,<br/>
                Dubai, United Arab Emirates.<br/>
                Pox Box 47785<br/>
                +971 50 439 3177"</p>
            </div>
        </div>
           
    </body>
</html>